.logo{
    background-color: white;
    width: 100%;
    border-radius: 3px;
}
.logo img{
    width: 140px;
    height: 100px;
}
body{
    background-color:#0000FF;
    margin: 0;
}

.registrationForm{

    background-color: white;
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.registrationForm h3{
    text-align: center;
    margin-left: 50%;
    padding-left: 50%;
}



input,p,select,textarea,h3{
    margin-left: 15%;
}

input,select,textarea{
    width: 70%;
}

.sub-title{
    padding-left: 15%;

}

.submitButton{
    margin-top: 5%;
    width: 30%;
    margin-left: 35%;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: black;
    background-color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 3px solid blue;
    border-radius: 1px;
    transition: 0.2s;
    border-radius: 10px;
}



.title{
    text-align: center;
    color: white;
}

